@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
body{
  background-color: #f1f1f1;
  font-family: "Poppins";
  margin: 0;
}
input{
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.8em;
}
